doctype html
html
    head
        title Кабинет
        meta(charset="utf-8")
    body
        h1 Личная информация
        p Адрес электронной почты: #{email}
        img(src=picture)
        p Список файлов в google drive:
        ul
            each entry in files
                if entry.originalFilename && entry.originalFilename.trim() != ""
                    ul * #{entry.originalFilename}
