doctype html
html
    head
        title Лаба 1, openid connect
        link(rel="stylesheet" href="/css/main.css")
    body
        form(action="/send-request" method="POST")
            input(type="hidden" name="_csrf" value=csrfToken)
            button(type="submit") #[span(class="google-logo")]
