.google-logo {
    display: inline-block;
    background-image: url("/images/g-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
button {
    background-color: white;
    border-color: black;
    vertical-align: middle;
    margin: auto;
}

.btn-txt {
    vertical-align: middle;
}
